*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(29, 29, 79);
  color: white;
  font-family: Arial, sans-serif;
}

.container {
  margin-top: 20px;
  width: 70%;
  margin: 20px auto;
  padding: 10px;
}

.product-detail{
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 40px;
  align-items: start;
  margin-bottom: 60px;
}
.product-gallery{
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 10px;
}
.thumbnails{
  overflow-y: auto;
  max-height: 440px;
  scrollbar-width: thin;
  direction: rtl;
  
}
.thumbnails img{
  width: 80px;
  height: 100px;
  border: 2px solid transparent;
}

.main-image img{
  width: 100%;
  height: 440px;
}
.related h3{
  border-left: 4px solid blue;
  padding-left: 10px;
  margin-bottom: 20px;
}
.related-grid{
  display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
}
.related-card img{
  width: 100%;

}
.thumbnails::-webkit-scrollbar {
  width: 8px;
}

@media (max-width: 768px){
  .container{
    width: 100%;
    padding: 16px;
  }
  .product-detail{
    grid-template-columns: 1fr;
  }

  .product-gallery{
    grid-template-columns: 1fr;
  }

  .thumbnails{
    order: 2;
    display: flex;
    flex-direction: row;
    gap: 4px;
    overflow-x: auto;
    scrollbar-width: thin;
    direction: ltr;
  }
  .main-image{
    order: 1;
  }
}
