* {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: rgb(29, 29, 79);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.navbar-list {
  display: flex;
  list-style: none;
}

.nav-item {
  text-decoration: none;
  padding: 20px;
  color: white;
  display: block;
}

.nav-item:hover {
  color: tomato;
  font-size: 18px;
}

.logo {
  width: 60px;
  height: 60px;
}

.menu-icon {
  display: none;
  color: white;
}


.nav-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgb(29, 29, 79);
  display: none;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}

.nav-bottom-item {
  color: white;
  text-decoration: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.active {
  color: tomato;
}


@media (max-width: 768px) {
  .navbar{
    display: none;
  }
  .navbar-list {
    display: none;
  }

  .menu-icon {
    display: flex;
  }

   .nav-bottom {
    display: flex;
  }
}
